/* Fonte: Arial
Negrito, Sublinhado
Tamanho da fonte: 20px
Cor: maroon
--- Para o sub-titulo “O Desenvolvimento”
aplicar a cor: #FFCC00
--- Cada parágrafo tem uma cor de texto
específica, que são: navy, FFFFFF, black */

body{
    font-family: arial;
    font-size: 20px;
}
h1, h2{
    color: maroon;
}
.inicio{
    background-color: rgb(202, 202, 52);
    color: navy;

}
.desenvolvimento{
    background-color: rgb(71, 56, 56);
    color: whitesmoke;
}
.conclusao{
    background-color: greenyellow;
    color: black;
}
a, p{
    text-align: center;
    text-decoration: none;
}
h4{
    font-family: italic;
    text-align: center;
}